.glitch {
  transform: scaleX(var(--scale, 1));
}

.glitch::before,
.glitch::after {
  --top: 0;
  --left: 0;
  --v-height: 30%;
  --n-tenth: calc(var(--f-size) * .1 * var(--top));
  --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
  --b-cut: calc(var(--t-cut) + var(--v-height));
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  transform: translateX(calc(var(--left) * 100%));
  filter: drop-shadow(0 0 transparent);
  background-color: var(--bg);
  clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut));
}
.glitch::before {
  animation: glitch-b 3s infinite alternate-reverse;
}
.glitch::after {
  animation: glitch-a 6s infinite alternate;
}

@keyframes glitch-a {
  1%,21%,41%,61%,81% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 10%;
  }
  20% {
    --left: .009;
  }
  40% {
    --left: .001;
    --v-height: 18%;
    --top: 3;
  }
  60% {
    --left: .003;
    --v-height: 30%;
    --top: 6;
  }
  80% {
    --left: .008;
    --v-height: 3%;
    --top: 8;
  }
  100% {
    --left: .0015;
    --v-height: 30%;
    --top: 1;
  }
}
@keyframes glitch-b {
  1%,21%,41%,61%,81% {
    --top: 0;
    --left: 0;
  }
  0% {
    --v-height: 15%;
    --top: 10;
  }
  20% {
    --left: -.0005;
  }
  40% {
    --left: -.011;
    --v-height: 15%;
    --top: 3;
  }
  60% {
    --left: -.003;
    --v-height: 26%;
    --top: 6;
  }
  80% {
    --left: -.007;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: -.0083;
    --v-height: 20%;
    --top: 1;
  }
}