#canvas {
  filter: brightness(0.25) blur(3px);
}

#post {
  margin-top: 10px;
  width: 65%;
  height: auto;
  min-height: 60vh;
  margin-left: 350px;
  background-color: transparent;
  display: flex;
}

#text-area {
  padding: 15px;
  width: 100%;
  display: grid;
  grid-template-areas: 
  "title title title date"
  ".     .     .     .   "
  "content content content content";
  grid-template-rows: minmax(calc(var(--f) * 0.5), auto) minmax(10px, auto) minmax(100px, auto);
  background-color: #e74d3c0a;
}

#text-title {
  grid-area: title;
  font-size: calc(var(--f) * 0.4);
  border-bottom: 3px double #fff;
}

#text-date {
  grid-area: date;
  font-size: calc(var(--f) * 0.2);
  text-align: right;
  padding-right: 10px;
}

#text-content {
  grid-area: content;
  font-size: calc(var(--f) * 0.2);
}

@media screen and (max-width: 700px) {

  
}

@media screen and (max-width: 1000px) {
  :root {
    --f: calc(var(--f-size) * 1.5vmin);
  }
  #post {
    margin-left: 0px;
    width: 100%;
    grid-template-columns: 1fr;
  }

  #profile {
    display: none;
  }

  #text-title {
    font-size: calc(var(--f) * 0.4);
  }
  #text-date {
    font-size: calc(var(--f) * 0.2);
  }
  #text-content {
    font-size: calc(var(--f) * 0.2);
  }
}