#left-area {
  width: 20vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "KoPub Dotum";
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  backdrop-filter: blur(10px);
}

#left-area > a {
  color: #000000;
  margin: 30px; 0px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  #left-area {
    width: 100vw;
    height: 10vh;
    position: fixed;
    left: 0px;
    top: 0px;
    flex-direction: row;
  }

  #left-area > a {
    margin: 0px 30px;
  }
}
