@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css");

:root {
  --left-width: 20vw;
  --left-height: 10vh;
  --explorer-width: 60vw;
  --explorer-width-media: 90vw;
  --explorer-height: 80vh;
  --explorer-height-media: 75vh;
  --navigator-height: 20px;
  --navigator-buttons-height: 30px;
  --traffic-width: 13px;
  --bg-color: #bbbbbb;
  --navigator-bg-color: #999999;
}

html,
body {
  margin: 0px;
  font-weight: 400;
  font-family: "KoPub Dotum";
  background-color: var(--bg-color);
}

.dontcopy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fadein {
  animation: fadein 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: coral;
}

@keyframes fadein {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
